/* nav ul li {
  position: relative;
}

nav ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav ul li a::before {
  content: " ";
  display: block;
  position: absolute;

  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -10;
  transition: transform 0.3s ease;
}
nav ul li a::before {
  transform: scaleX(0);
  transform-origin: bottom right;
} */

/* Apply animations to specific elements */

#element {
}
