@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary: #8a2be2;
  --primary-gray: #bdbdbd;
  --dark-gray: #1d1b1b;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-weight: 400;
  background-color: black;
  height: 100vh;
  overflow-x: hidden;
  color: white;
  position: relative;
}
section {
  margin: 2rem 0;
}
.bg {
  width: 100vw;
  height: 100vh;
  background-color: #d9d9d9;
  background-position: center;
  background-size: 100% 100%;
}
.bg.home {
  background-image: url("../assits/headerbg.png");
  position: relative;
}
.bg.news {
  background-image: url("../assits/news.png");
}
.bg.about {
  background-image: url("../assits/aboutpage.png");
}
.bg div {
  font-size: 5rem;
  font-weight: 700;
  color: white;
}
.close-btn {
  text-align: left;
}
.mobile-nav-social {
  text-align: left;
}
/* **************************************************************************** */
/* ****************************START ALL HEADERS********************************** */
/* **************************************************************************** */

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
}
.heading-tertiary {
  font-weight: 600;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 0;
  background-image: linear-gradient(to left bottom, #fff, #8a2be2);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  text-align: center;
}
.heading-secondary:hover {
  transform: skewY(-2deg) skewX(-15deg) scale(1.1);
}
.heading-tertiary {
  font-size: 2rem;
  line-height: 1.2;
}
.text-purple {
  color: var(--primary);
  font-weight: 600;
}
/* **************************************************************************** */
/* ****************************END ALL HEADERS********************************** */
/* **************************************************************************** */

/* **************************************************************************** */
/* ****************************START LOADEING********************************** */
/* **************************************************************************** */
.loader-box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0 !important;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.7s, visibility 0.7s;
  z-index: 100;
  overflow: hidden;
}
.loader-hide {
  opacity: 0;
  visibility: hidden;
}
.loader {
  width: 45px;
  height: 40px;
  background: linear-gradient(
      #0000 calc(1 * 100% / 6),
      #8a2be2 0 calc(3 * 100% / 6),
      #0000 0
    ),
    linear-gradient(
      #0000 calc(2 * 100% / 6),
      #8a2be2 0 calc(4 * 100% / 6),
      #0000 0
    ),
    linear-gradient(
      #0000 calc(3 * 100% / 6),
      #8a2be2 0 calc(5 * 100% / 6),
      #0000 0
    );
  background-size: 10px 400%;
  background-repeat: no-repeat;
  animation: matrix 1s infinite linear;
  display: block;
}

@keyframes matrix {
  0% {
    background-position: 100% 100%, 50% 100%, 0% 100%;
  }
  100% {
    background-position: 100% 0%, 50% 0%, 0% 0%;
  }
}
/* **************************************************************************** */
/* ****************************END LOADEING********************************** */
/* **************************************************************************** */

/* **************************************************************************** */
/* ****************************START SCROLL ANIMATIONS************************** */
/* **************************************************************************** */

.reveal-on-scroll {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.5s, transform 0.5s;
}

.reveal-on-scroll.revealed {
  opacity: 1;
  transform: translateY(0);
}

.fade-left {
  animation: fade-left 2s ease-in-out both;
}

.fade-right {
  animation: fade-right 2s ease-in-out both;
}

.fade-top {
  animation: fade-top 2s ease-in-out both;
}

@keyframes tabApear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fade-left {
  from {
    transform: translateX(-360px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  from {
    transform: translateX(360px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-top {
  from {
    transform: translateY(360px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-bottom {
  from {
    transform: translateY(-360px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-out {
  animation: fadeOut 2s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* **************************************************************************** */
/* ****************************END SCROLL ANIMATIONS************************** */
/* **************************************************************************** */

/* **************************************************************************** */
/* ****************************Start NAVBAR *********************************** */
/* **************************************************************************** */
nav {
  position: absolute;
  z-index: 99;
  width: 100%;
  background: transparent;
  text-transform: uppercase;
}
nav .nav-wrapper {
  position: relative;
  max-width: 130rem;
  padding: 0rem 2rem;
  height: 10rem;
  line-height: 7rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-nav-logo {
  display: none;
  margin-top: -2rem;
}
.nav-wrapper .logo a {
  color: #f2f2f2;
  font-weight: 600;
  text-decoration: none;
}
.nav-wrapper .nav-links {
  display: inline-flex;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 24px;
}
.nav-links li {
  list-style: none;
}
.nav-links li .nav-link {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.7rem 0.5rem;
  transition: all 0.3s ease;
  border: 0.5rem solid;
  /* if you want a 80% of the border dont forget to updat the width of the nav li to 100% if you do this  */
  /* border-image-slice: 1; */
  /* border-width: 0.3rem; */
  /* border-image-source: linear-gradient(
    to left,
    transparent 25%,
    transparent 25%
  ); */
  border-left: 0.3rem solid transparent;
  border-top: 0.3rem solid transparent;
  border-bottom: 0.3rem solid transparent;
  border-right: 0.3rem solid transparent;

  transition: 0.5s;
}
.nav-links li .nav-link:hover,
.nav-link {
  /* border-image-source: linear-gradient(to left, transparent 25%, #8a2be2 25%); */
  border-left: 0.3rem solid #601bb9;
  border-top: 0.3rem solid #601bb9;
  border-bottom: 0.3rem solid #601bb9;
}
.nav-links .mobile-item {
  display: none;
}

.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header {
  color: #f2f2f2;
  font-size: 2rem;
  font-weight: 500;
}
.content .row .mega-links {
  margin-right: -4rem;
  border-right: 1rem solid rgba(255, 255, 255, 0.09);
}
.row .mega-links li {
  padding: 0 2rem;
}
.row .mega-links li a {
  padding: 0rem;
  padding: 0 1.5rem;
  color: #d9d9d9;
  font-size: 1.7rem;
  display: block;
}
.row .mega-links li a:hover {
  color: #f2f2f2;
}
.nav-wrapper .btn {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.nav-wrapper .btn.close-btn {
  position: absolute;
  left: 3rem !important;
  top: 5%;
  transition: 0.3s;
}
.nav-wrapper .btn.close-btn:hover {
  color: #8a2be2;
}
.main-nav-social img {
  width: 22px;
  height: 22px;
}
.language-box {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}
.main-nav-social {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-nav-social img {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.break {
  display: block;
  background-color: white;
  width: 0.2rem;
  height: 3.5rem;
  font-weight: 500;
}

.logo {
  margin-top: 3rem;
}
.logo img {
  width: 18.5rem;
  height: 100%;
}
.mobile-nav-social {
  display: none;
}
.mobile-box {
  display: none;
}

.mobile-box-language {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.mobile-box-language img {
  width: 60px;
  height: 60px;
}
.btn.menu-btn {
  display: none;
}
@media screen and (max-width: 970px) {
  .mobile-box {
    display: block;
    position: absolute;
    bottom: 5%;
    right: 5% !important;
  }
  .main-nav-social {
    display: none;
  }
  .mobile-nav-social {
    display: block;
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    left: 10% !important;
  }
  .mobile-nav-logo {
    display: block;
  }
  .language-box {
    display: none;
  }
  .logo img {
    width: 90px;
  }
  .break {
    display: none;
  }
  .main-nav-social {
    gap: 4rem;
  }
  .nav-wrapper .btn {
    display: block;
  }

  /* mobile navigation hidden */
  .nav-wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    right: -100% !important;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0.5rem;
    line-height: 3rem;
    overflow-y: auto;
    transition: all 0.4s ease;
    background-color: black;
    font-size: 24px !important;
    font-weight: bold;
    letter-spacing: 1.2px;
    gap: 1rem;
  }
  .nav-wrapper .nav-links li {
    margin-top: -1rem;
    width: 70%;
    align-self: flex-start;
  }
  .nav-links.show-navigation {
    right: 0% !important;
    opacity: 1;
  }
  .btn.close-btn {
    font-size: 3rem;
  }

  .btn.menu-btn {
    font-size: 4rem;
    display: block;
  }

  .nav-links li {
    margin: 1.5rem 1rem;
    width: 100%;
  }
  .nav-links li a {
    padding: 0.5rem 1rem !important;
    display: block;
    font-size: 1.5rem;
    width: 100%;
  }

  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20rem;
    font-weight: 500;
    padding-right: 20rem;
    cursor: pointer;
    border-radius: 5rem;
    transition: all 0.3s ease;
  }

  .content .row header {
    font-size: 19rem;
  }
}
nav input {
  display: none;
}

.icon-mobile-nav {
  color: white !important;
}
.main-nav-social a:hover,
.mobile-nav-social a:hover {
  transition: 0.4s;
  transform: scale(1.1);
}

/* **************************************************************************** */
/* ****************************END NAVBAR *********************************** */
/* **************************************************************************** */

/* **************************************************************************** */
/* ****************************START DROPMENU LANGUAGE ****************************/
/* **************************************************************************** */
.drop-down {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2rem;
}

.drop-down-wraper {
  display: flex;
  gap: 10px;
  width: 80px;
  padding: 0px 10px;
  overflow: hidden;
  cursor: pointer;
  align-items: center;
  height: 35px;
  font-size: 1.6rem;
}

.drop-down img {
  width: 25px;
  height: 25px;
}

.list {
  position: absolute;
  top: 100%;
  display: none;
  border-top: none;
  width: 105%;
  box-shadow: -2px 4px 9px -2px lightgrey;
}

.list .list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 10px;
  transition: 0.3s;
  width: 100%;
  cursor: pointer;
  height: 35px;
  font-weight: bold;
}
/* show drop-down */
.list.show-drop-down {
  display: block;
}

.list-item:hover {
  background-color: #eee;
  color: #8a2be2;
}

.about-image-box img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* MEDIA QUERY FOR NAVBAR AND LANGUAGE DROP DOWN */
@media (max-width: 1100px) {
  .nav-link {
    font-size: 1.2rem !important;
  }
  .drop-down-wraper {
    font-size: 1.2rem;
  }
}
/* **************************************************************************** */
/* ****************************END DROPMENU LANGUAGE ***************************** */
/* **************************************************************************** */

/**************************/
/* START WE ARE GIANT WHALE */
/**************************/

.section-we-whale {
  padding: 9rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark-gray);
}
.we-whale-container {
  display: grid;
  grid-template-columns: 35fr 65fr;
  align-items: center;
  justify-content: center;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 2.6rem 1.6rem;
  width: 100%;
}

.gallery-item,
.inner {
  overflow: hidden;
}
.gallery-item {
  min-width: 70px;
  height: 17rem;
  background-color: #8a2be2;
  overflow: hidden;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
  min-width: 70px;
  object-position: center;
}
.gallery-item img:hover,
.inner img:hover {
  transform: scale(1.1);
}
.we-whale-box {
  padding: 0rem 1rem;
}
.we-whlae-services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  row-gap: 4.8rem;
  column-gap: 2rem;
  justify-content: flex-start;
}
.we-whale-heading {
  font-weight: bold;
  font-size: 2.7rem;
  white-space: nowrap;
}
.we-whale-line {
  height: 4px;
  background-color: var(--primary);
  display: block;
  width: 13.3rem;
  margin: 1rem 0;
}
.we-whale {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.we-whale-text {
  font-size: 1.8rem;
  line-height: 2.81rem;
  margin-bottom: 1.6rem;
}
.section-header,
.section-header span {
  font-size: 5rem;
  font-weight: bold;
}

.section-header {
  margin: 0rem 0rem 5rem;
  height: 8rem;
}
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

@media (max-width: 360px) {
}
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .we-whale-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .section-header,
  .section-header span {
    font-size: 3rem;
    font-weight: bold;
  }
  .we-whale-heading {
    font-weight: bold;
    font-size: 2rem;
    white-space: wrap;
  }
  .we-whale-text {
    font-size: 1.6rem;
  }
}
@media (max-width: 360px) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  .section-header,
  .section-header span {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .section-header {
    margin-bottom: 2rem;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

/**************************/
/* END WE ARE GIANT WHALE */
/************************



/**************************/
/* START HOME ABOUT SECTION */
/**************************/

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 3rem;
}
.section-title h1 {
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  margin: 0 0 5px;
  position: relative;
  margin: 4rem 0 6rem;
  width: fit-content;
}
.section-title span {
  font-size: 35px;
}
.section-title h1:before {
  content: "";
  right: 40% !important;
  position: absolute;
  height: 1px;
  left: 40% !important;
  background-color: var(--primary);
  bottom: -35%;
}
.text-center {
  text-align: center !important;
}
.section-home-about {
  padding: 3.8rem 0 9.6rem 0;
}
.home-about {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
}
.home-about-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-about-img {
  width: 100%;
}
.home-about-text-box {
  margin-top: 10%;
}
/* Tabs */

.tabs__buttons--container {
  display: flex;
  margin-bottom: 1.5rem;
}

.tabs__tab-btn {
  background: none;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  color: var(--primary);
  font-size: 2rem;
  border-bottom: solid 0.7px var(--primary-gray);
}

.tabs__tab-btn--not-selected {
  border-bottom: solid 3px black;
}

.tabs__tab-btn:hover {
  transition: 0.3s;
}

.tabs__tab--hide {
  display: none;
  visibility: hidden;
}

.tabs__tab--show {
  display: block;
}

.tabs__tab {
  animation: tabApear 0.6s;
}
.tabs__tab p {
  font-size: 2rem;
  padding: 1rem;
  line-height: 3rem;
}
.tabs__tab p:nth-child(1) {
  margin-top: 4rem;
}
@media (max-width: 1100px) {
  .home-about {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .tabs__tab-btn {
    padding: 0.5rem 1.5rem;
    color: var(--primary);
    font-size: 1.5rem;
  }
  .tabs__tab p {
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 3rem;
  }
}
@media (max-width: 390px) {
  .tabs__tab-btn {
    padding: 0.5rem 1.3rem;
    color: var(--primary);
    font-size: 1.5rem;
  }
  .tabs__tab p {
    font-size: 1.3rem;
    padding: 1rem;
    line-height: 3rem;
  }
  .tabs__buttons--container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
}

/**************************/
/* END HOME ABOUT SECTION */
/**************************/
.section-our-clients,
.section-web-development,
.section-our-services {
  margin-bottom: 10rem;
}
/* service slider hidden in desktop */
.section-our-services {
  display: none;
}
/* service section hidden in mobile */

@media (max-width: 991px) {
  .section-our-services {
    display: block;
  }
  .section-home-service {
    display: none;
  }
  .section-title h1,
  .section-title span {
    font-size: 3rem;
  }
}

.swiper-slide {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem !important;
}
.swiper-slide .service {
  width: 100%;
}
.swiper-slide .service p {
  width: 150px;
  text-align: center;
  color: white !important;
  font-size: 2rem;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.swiper-slide-img-box {
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  max-width: 300px;
}
.swiper-slide-img-box img {
  object-fit: contain;
  object-position: center;
}
.web-development-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.swiper-slide p {
  margin: 10px 0;
  font-size: 2rem;
  font-weight: bold;
}
.slider-1 .web-development-slider {
  padding: 1rem;
}
/* bullets margin */
.swiper-slide p:last-child {
  color: var(--primary);
}
.swiper-slide {
  margin-bottom: 5rem;
}

.card-slider {
  max-width: 1100px;
}
.slider-header {
  margin: 1.5rem 0;
}
.card-slider2 .swiper-pagination-bullet {
  width: 4rem !important;
  height: 4px !important;
  border-radius: 0 !important;
  outline: none !important;
  background-color: var(--primary-gray) !important;
}
.card-slider2 .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #8a2be2 !important;
}
.card-slider3 .swiper-slide-img-box {
  background-color: transparent !important;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .swiper-slide p {
    font-size: 16px;
  }
}
/* swiper navigation bullets */
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 1rem !important;
  height: 1rem !important;
  outline: 2px solid #8a2be2 !important;
  outline-offset: 3px;
  background-color: #8a2be2 !important;
}
.swiper-pagination-bullet {
  width: 1rem !important;
  height: 1rem !important;
  outline: 3px solid #fff !important;
  background-color: var(--dark-gray) !important;
  margin: 0 1rem !important;
}

.swiper-slide {
  border-radius: none;
}
.swiper-slide .service img {
  border-radius: none;
}
/* **********************SERVICE SECTION **********************/
/* ***************************************** **********************/
/* ***************************************** **********************/

.section-home-service,
.section-service {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  margin: 10rem auto;
  padding: 4.5rem 2rem;
}
.service {
  width: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: 0.5s;
}

.service-box {
  padding: 4rem 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  gap: 3rem;
}
.service-summary-box {
  position: absolute;
  z-index: 10;
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.service-summary-box img {
  width: 50px;
}
.service-summary-box p {
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  line-height: 24px;
}

.service:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

/* ******************START SERVICE PAGE ********************** */
/* **************************************************** */
/* **************************************************** */
.collapsible {
  padding: 4rem 2rem;
  background: var(--dark-gray);
  margin: 4rem 0;
}
.collapsible .collapsible__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.collapsible .collapsible__tabs {
  display: inline-block;
  flex-direction: column;
  vertical-align: top;
  position: relative;
  margin-left: 3rem;
  list-style: none;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

.collapsible .collapsible__tabs li {
  margin: 0;
  padding: 1rem 0rem;
  font-size: 2rem;
  line-height: 1.5;
  border-bottom: 1px solid #dadada;
  color: white;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 350px;
  padding: 1.5rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.collapsible .collapsible__tabs li img {
  width: 25px;
  height: 25px;
}
.collapsible .collapsible__tabs li:hover {
  /* background: var(--primary); */
  color: var(--primary);
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.collapsible .collapsible__tabs li.tab-active {
  border-left: none;
  background: var(--primary);
  color: #fff;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.collapsible__container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  z-index: 2;
}
.tab-item {
  /* padding: 1.5rem; */
  display: none;
  font-size: 2rem;
  max-width: 75rem;
}
.tab-item h5 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.tab-accordion-title {
  display: none;
}
.tab-item p {
  line-height: 2.4rem;
  margin-bottom: 1.5rem;
}
.tab-item img {
  width: 80%;
  margin-top: 2rem;
  border-radius: 0 !important;
}
@media screen and (max-width: 360px) {
  .tab-accordion-title {
    min-width: 280px;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 786px) {
  .tab-item p {
    line-height: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
  }
  .collapsible .collapsible__tabs {
    display: none;
  }
  .collapsible__container {
    display: block;
  }
  .tab-accordion-title img {
    width: 25px;
    height: 25px;
  }
  .tab-accordion-title {
    margin: 0;
    padding: 1rem 1rem;
    display: block;
    min-width: 300px;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
    border-top: 1px solid #dadada;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
    color: white;
  }
  .tab-accordion-title:hover {
    background: var(--primary);
    color: white;
  }
  .tab-accordion-active {
    background: #1d1c1c;
    color: #fff;
  }
  .tab-item {
    padding-top: 15px;
  }
}
.tab-span {
  width: 15rem;
  height: 1.5rem;
  background-color: var(--primary);
  display: block;
  margin: 2rem 0;
}
/* ******************END SERVICE PAGE ********************** */
/* **************************************************** */
/* **************************************************** */

/* ******************START NEWS PAGE ********************** */
/* **************************************************** */
/* **************************************************** */
.news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 4rem;
  margin: 10rem 0 10rem !important;
}

.news-card-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 2rem;
  row-gap: 50px;
  column-gap: 2rem;
  max-width: 110rem;
  justify-content: center;
  align-items: center;
}
.card-img {
  width: 100%;
}
.news-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.5rem;
}
.news-card-heading {
  font-weight: 600;
  font-size: 2.2rem;
}
.news-card-summary {
  font-size: 1.6rem;
  color: var(--primary-gray);
  line-height: 2.4rem;
}
.news-blog-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  margin-top: 1rem;
}
.news-blog-author .news-person-name {
  font-weight: 700;
}
.news-blog-author .news-person-date {
  font-weight: 500;
  color: var(--primary-gray);
}

.news-button-box {
  display: flex;
  justify-content: center;
  width: 100%;
}
.news-button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  width: 17rem;
  background-color: var(--primary);
  letter-spacing: 1.5px;
  outline: none;
  border: none;
}
.news-button:hover {
  background-color: #602e8f;
  letter-spacing: 2px;
}
.new-text-box {
  width: 100%;
}
.news-head {
  max-width: 110rem;
  justify-self: flex-start;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2.5rem;
}
.news-head h5 {
  font-weight: 600;
  font-size: 4rem;
  min-width: 28rem;
}

.tab-span {
  width: 15rem;
  height: 1.5rem;
  background-color: var(--primary);
  display: block;
  margin: 2rem 0;
}
.background img {
  height: 100vh;
  width: 100vw;
}

/* ******************END NEWS PAGE ********************** */
/* **************************************************** */
/* **************************************************** */
/* ******************START CAREERS PAGE ********************** */
/* **************************************************** */
/* **************************************************** */

.box-flex-text {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex: 1;
  padding: 0 2rem;
  font-size: 2rem;
  min-width: 30rem;
}
.box-flex-text {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex: 1;
  padding: 0 2rem;
}
.box-flex-text h5 {
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.box-flex-text h6 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: var(--primary);
}
.box-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  flex: 1;
}
.box-flex-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-flex-image img {
  width: 70%;
  min-width: 30rem;
}

.careers-section,
.about-section,
.contact-section,
.part-family,
.news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 4rem;
  margin: 10rem 0;
}

.contact-phone,
.contact-phone-box,
.contact-email-box {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 2rem;
}
.contact-email-box {
  gap: 3rem;
}
.contact-numbers,
.contact-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.contact-email {
  display: flex;
  align-items: center;
  gap: 2rem;
  /* width: 280px; */
  justify-content: center;
}

.contact-details {
  margin: 2rem 0;
}

/* Upload File and Map */
.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid white;
  padding: 3rem 2rem;
  min-width: 28rem;
}

.upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  cursor: pointer;
  border: none;
  font-size: 3rem;
}

.upload-label-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.25rem;
  padding-bottom: 1.5rem;
}

.upload-icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
  fill: white;
}

.upload-text {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: white;
}

.upload-text-bold {
  font-weight: 600;
}

.upload-input {
  display: none;
}

.input {
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-size: 1.6rem;
  width: 28rem;
  resize: none;
}
.input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-error {
  color: red;
  padding-right: 1.5rem;
  font-size: 1.5rem;
  margin-top: -7px;
  margin-bottom: 0px;
  visibility: hidden;
  transition: 0.3s;
  padding: 0.5rem 1.5rem;
  align-self: flex-start !important;
}
.show-error-msg {
  visibility: visible;
}
.family-button-box {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
}
.family-part-btn {
  border: none;
  padding: 1rem 2rem;
  background-color: #8a2be2;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  width: 130px;
  letter-spacing: 1.5px;
  border-radius: 10px;
}
.family-part-btn:hover {
  border: none;
  padding: 1rem 2rem;
  background-color: #602e8f;
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
}

.part-family-text-box {
  align-self: flex-start;
  margin-bottom: 5rem;
}
.part-family-text-box h5 {
  font-size: 3rem;
}
.contact-family {
  display: flex;
  flex-direction: column;
  gap: 4rem 2rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.contact-family form {
  max-width: 60rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.contact-button-box {
  background-color: #bdbdbd;
  /* width: 100%; */
}
.input-text-aria {
  width: 100%;
}

/* ******************END CAREERS PAGE ********************** */
/* **************************************************** */
/* **************************************************** */
/* ******************START PORTFOLIO PAGE ********************** */
/* **************************************************** */
/* **************************************************** */
/**********************GALLARY***********************/
/**********************GALLARY***********************/
/**********************GALLARY***********************/
.portfolio-container {
  max-width: 1140px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.text-right {
  text-align: left !important;
}
.portfolio {
  padding: 10rem 7px;
}
.portfolio .section-title h1:before {
  right: 30% !important;
}
.portfolio .filter-buttons {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.portfolio .filter-buttons ul {
  list-style: none;
  text-align: center;
  /* هتشيل ده في الموبايل */
  padding: 0;
  /* display: flex;
  flex-direction: column; */
}
@media (max-width: 680px) {
  .portfolio .filter-buttons ul {
    list-style: none;
    text-align: right;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 60%;
  }
}
.portfolio .filter-buttons ul li {
  color: white;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  margin: 0px 8px;
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 0px;
  position: relative;
  border: 5px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(
    to left,
    transparent 25%,
    transparent 25%
  );
  padding: 8px;
}
/* .main-nav-link {
  position: relative;
  border: 5px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(
    to left,
    transparent 25%,
    transparent 25%
  );
  padding: 8px;
}
.main-nav-link:hover {
  border-image-source: linear-gradient(to left, transparent 25%, #8a2be2 25%);
} */
.portfolio .filter-buttons ul li.active {
  color: var(--primary);
  /* border-bottom: 2px solid var(--primary); */
  border-image-source: linear-gradient(to left, transparent 25%, #8a2be2 25%);
}
.portfolio .portfolio-gallery {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.portfolio .portfolio-gallery .item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  position: relative;
  padding: 8px;
}
.portfolio .portfolio-gallery .item .inner {
  position: relative;
}
.portfolio .portfolio-gallery .item img {
  width: 100%;
  display: block;
}

@media (max-width: 767px) {
  .portfolio .portfolio-gallery .item {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    padding: 8px;
  }
}
@media (max-width: 500px) {
  .portfolio .portfolio-gallery .item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.load-more-box div {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}
.load-more {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary);
}
.section-title.purple-before h1:before {
  background-color: #8a2be2;
}
.section-title h1:before {
  right: 30% !important;
}
.portfolio-about-text p {
  max-width: 669px;
  font-size: 2rem;
  line-height: 2.41rem;
}
/* ******************END PORTFOLIO PAGE ********************** */
/* **************************************************** */
/* **************************************************** */

/* ******************ٍSTART CONTACT PAGE *************** */
/* **************************************************** */
/* **************************************************** */

.contact-heading {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: white;
}
.contact-heading h2 {
  margin-bottom: 10px;
}
.contact-section {
  width: 60%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.form-inputs {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-inputs input,
.form-inputs textarea {
  width: 280px;
  height: 40px;
  outline: none;
  border: none;
  /* padding: 0 20px; */
  margin-bottom: 5px;
  font-family: sans-serif;
  border: 1px solid white;
  font-size: 1.6rem;
}
.form-inputs textarea {
  height: 25vh;
  padding: 10px 20px;
}
.submit-button {
  border: none;
  outline: none;
  float: left;
  display: block;
  font-size: 1rem;
  cursor: pointer;
}

/* .form-inputs input + span::after,
.form-inputs textarea + span::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  transition: ALL 0.3s linear;
}  */
.form-inputs input:focus + span::after,
.form-inputs textarea:focus + span::after {
  width: 100%;
}

.contact-form {
  max-width: 580px;
}
.message-content.hide {
  opacity: 0;
}

/* ************
 */
@media screen and (min-width: 980px) {
  .contact-form {
    width: 100%;
    margin: 0 auto;
  }
  .form-input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.77rem;
  }
}
.form-inputs-botton-box {
  align-self: end;
  text-align: left !important;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 280px;
}
.form-inputs-botton-box button {
  align-self: end;
}
.map-container {
  position: relative;
  min-width: 280px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
#map {
  width: 100%;
  height: 500px;
  max-width: 580px;
}
.svelte-1r7dvt7 {
  background-color: #1d1b1b !important;
}
.svelte-1r7dvt7 input {
  color: white !important;
  outline: none !important;
  border: none !important;
  padding: 0.5rem 2rem !important;
  border-radius: none !important;
  box-shadow: none !important;
  border-image-width: 0 !important;
  width: 150px !important;
}
.input-group.svelte-1r7dvt7 {
  border: none !important;
  border-radius: none !important;
  right: 100% !important;
  max-width: 200px !important;
}
.input-group input {
  width: 200px !important;
}
.maplibregl-ctrl-zoom-in,
.maplibregl-ctrl-zoom-out,
.maplibregl-ctrl-geolocate,
.maplibregl-ctrl-compass {
  background-color: #1d1b1b !important;
}
.maplibregl-ctrl-zoom-in:hover,
.maplibregl-ctrl-zoom-out:hover,
.maplibregl-ctrl-geolocate:hover,
.maplibregl-ctrl-compass:hover {
  background-color: #1d1b1b68 !important;
}
.maplibregl-ctrl-icon:hover,
.clear-button-container button:hover svg {
  color: white !important;
  filter: none !important;
  fill: white !important;
}
.svelte-1r7dvt7 input:focus {
  color: white !important;
  outline: none !important;
  border: none !important;
  padding: 0.5rem 2rem !important;
}
.search-button.svelte-1r7dvt7 svg {
  color: white !important;
  fill: white !important;
}

.map-container form {
  width: 180px !important;
}
.mapboxgl-ctrl-group,
.maplibregl-ctrl-group {
  border-radius: 0 !important;
  background-color: transparent !important;
}
.maplibregl-ctrl-top-right {
  top: 10% !important;
}

.contact-section .input-error {
  margin-top: -10px;
}
.section-title {
  min-width: 280px;
}
.box-flex-image {
  justify-self: flex-start;
}
h1 span {
  font-size: 2rem;
}

.text-purple {
  color: var(--primary);
  font-weight: 600;
}
ul {
  list-style-type: none;
}

#element,
#element span {
  font-size: 4rem;
}
#element {
  margin: 10rem 0;
  height: 8rem;
}
.background {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background img {
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
}
.background p {
  position: absolute;
  font-size: 5rem;
  font-weight: bold;
  min-width: 280px;
}
.heading {
  text-align: center;
  min-width: 280px;
  color: white;
  font-size: 4rem;
  font-weight: 700;
}

/* ******************END CONTACT PAGE ******************* */
/* **************************************************** */
/* **************************************************** */

/* ******************START FOOTER********************** */
/* **************************************************** */
/* **************************************************** */

.section-footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 4rem 0 0;
  background-color: #1d1b1b;
  padding: 0 2rem;
  margin-top: 10rem;
}
.section-footer .copy-right {
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
  padding: 0rem 0 3rem 0;
}
.footer-summary {
  margin-top: -2rem;
}
footer .footer-grid {
  background-color: #1d1b1b;
  padding: 4rem 2rem;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;
}
.footer-grid p {
  line-height: 2.42rem;
}
.footer-img {
  width: 20rem;
  margin-right: -3rem;
  margin-top: -2rem;
}

.footer-title {
  margin-bottom: 2rem;
  font-size: 2.4rem;
}
.footer-title p {
  font-weight: bold;
  font-size: 2.4rem;
  position: relative;
}
.footer-title p:before {
  content: "";
  right: 5%;
  position: absolute;
  height: 1px;
  left: 85%;
  background-color: var(--primary);
  bottom: -35%;
}

footer ul li {
  margin-bottom: 1rem;
}
.footer-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-telephone {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.footer-mail {
  gap: 2rem;
}
.footer-mail,
.footer-telephone div {
  display: flex;

  align-items: center;
}
.footer-mail {
  width: 280px;
}
.footer-icon {
  width: 2.4rem;
  height: 2.4rem;
}
.footer-telphone-numbers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.follow-us-icons {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}
.footer-mail-text {
  font-size: 1.4rem;
}

@media (max-width: 950px) {
  footer .footer-grid {
    grid-template-columns: 2fr 1fr;
  }
}
@media (max-width: 700px) {
  .heading-secondery {
    font-size: 2rem;
  }
}
@media (max-width: 660px) {
  footer .footer-grid {
    grid-template-columns: 1fr;
  }
  footer .footer-col {
    max-width: 300px;
  }
}
.service-hidden {
  display: hidden;
}
/* ******************END FOOTER********************** */
/* **************************************************** */
/* **************************************************** */
animate-language-change {
  transition: opacity 1s ease; /* Adjust the duration to match the JS setTimeout duration */
}
